{% extends 'base.html'%}
{% load static %}
{%block main%}

<link rel="stylesheet" href="{% static 'css/ask-team-change.css'%}">

<div id="container-team-change">
    <h1>Olá, atleta!</h1>

    <form method="post" action="{% url 'ask-team-change' %}">
        {% csrf_token %}
        <div>
            <label>Decida qual o time deseja ingressar e o motivo. Caso o motivo não for de bom argumento, a troca será anulada.</label>
            <br>
            <label for="team">Time que deseja ingressar:</label>
            {{ form.equipe.label_tag }}
            {{ form.equipe }}
            {{ form.motivo.label_tag }}
            {{ form.motivo }}
            <button id="submit-team-changes">Enviar</button>
        </div>

    </form>

</div>



{%endblock%}