{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{%static 'css/style.css'%}">
   <title>SGCE</title>
</head>
<body>

    <header>
      <a href="index"><img src="{%static 'images/IFRN_Arena__Where_Dreams_Are_Made.svg'%}"></a>
      <div id="header-content">
         <nav>
            <ul>
               <li>
                  <a href="#">Classificação</a>
               </li>
               <li>
                  <a href="#">Partidas</a>
               </li>
            </ul>
         </nav>
         <div id="buttons">
            <button type="button" class="button">Entrar</button>
            <a href="register"><button type="button" class="button">Cadastrar</button></a>
         </div>
      </div>
      
    </header>

   
    

   {%block main%}
   {%endblock%}
</body>
</html>