{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&family=Sofia+Sans&display=swap" rel="stylesheet" />
    
    <title>SGCE</title>
   </head>
   <body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.min.js"></script>
      <script>
        // Validação de senha
    
        function validarSenha(senha) {
          // Verifica se a senha tem pelo menos 8 caracteres.
          if (senha.length < 8) {
            return false;
          }
    
          // Verifica se a senha inclui uma combinação de letras maiúsculas, minúsculas, números e símbolos.
          const containsUpperCase = /[A-Z]/.test(senha);
          const containsLowerCase = /[a-z]/.test(senha);
          const containsNumber = /[0-9]/.test(senha);
          const containsSymbol = /[!@#$%^&*()_+{}|:<>?~]/.test(senha);
    
          if (!containsUpperCase || !containsLowerCase || !containsNumber || !containsSymbol) {
            return false;
          }
    
          return true;
        }
    
        // Evento de envio do formulário
    
        const form = document.querySelector("form");
    
        form.addEventListener("submit", (event) => {
          // Obtém a senha do formulário
          const senha = document.querySelector("input[name='senha']").value;
    
          // Valida a senha
          const valida = validarSenha(senha);
    
          // Mostra uma mensagem de erro se a senha não for válida
          if (!valida) {
            event.preventDefault();
            alert("A senha deve ter pelo menos 8 caracteres e incluir uma combinação de letras maiúsculas, minúsculas, números e símbolos.");
          }
        });
      </script>
    <header>
      <a href="index"><img id="logo_site" src="{% static 'images/IFRN_Arena__Where_Dreams_Are_Made.svg' %}" /></a>
      <div id="header-content">
        <nav>
          <ul>
            <li>
              <a href="profile">Perfil</a>
            </li>
            <li>
              <a href="#">Partidas</a>
            </li>
          </ul>
        </nav>
        <div id="buttons">
          <a href="login"><button type="button">Entrar</button></a>
          <a href="register"><button type="button">Cadastrar</button></a>
        </div>
      </div>
    </header>

    {% block main %}

    {% endblock %}
  </body>
</html>
