{% extends 'base.html' %}
{% load static %}
{% block main %}
  <link rel="stylesheet" href="{% static 'css/change-players.css' %}" />

  <div class="change-container">
    <div class="container-players-change" style="margin-right: 0; margin-left: 0;">
      <h1>Editando {{ equipe.nome_equipe }} </h1>
      <div class="menu-container-edit">
          <form method="post" enctype="multipart/form-data" class="form-edit-team">
            {% csrf_token %}
            {{ form }}
            <button class="btn-team-edit" type="submit">Enviar</button>
          </form> 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
