{% extends 'base.html'%}
{% load static %}
{% block main %}

<div id="content-box">
    <img  id="image" src="{% static 'images/Skipping_rope-bro_1.png' %}" /> 

    <div id="content-info">
        <h1>SGCE</h1>
        <h2>Sistema de Gerenciamento de <br>Competições de Esportes</h2>
        
        <div id="body-buttons">
            <h3>Esse sistema foi criado na tentativa de facilitar a vizualização e atualização de dados de partidas de competições dentro do IFRN.
                <br><br>
                Manuseado por bolsistas e professores para a atualização de dados, e por alunos para a vizualização de dados de partidas.
            </h3>
            
        </div>
    </div>
</div>

{% endblock main %}