{% extends 'base.html'%}
{% load static %}
{% block main %}

<div id="content-box">
    <img  id="image" src="{% static 'images/Skipping_rope-bro_1.png' %}" /> 

    <div id="content-info">
        <h1>SGCE</h1>
        <h2>Sistema de Gerenciamento de <br>Competições de Esportes</h2>
        
        <div id="body-buttons">
            <a href="matches"><button>Partidas</button></a>
            <a href="rating"><button>Tabela de pontos</button></a>
        </div>
    </div>
</div>

{% endblock main %}