{% extends 'base.html'%}
{%load static%}
{%block main%}

<div id="content-box">
    <img src="{%static 'images/Skipping.png'%}" id="image"> 

    <div id="content-info">
        <h1>SGCE:</h1>
        <h2>Sistema de Gerenciamento de <br>Competições de Esportes</h2>
        
        <div id="body-buttons">
            <button>Jogos</button>
            <button>Tabelas</button>
            <button>Classificações</button>
            <button>Próximos jogos</button>
        </div>
    </div>
</div>


{%endblock%}