{% extends 'base.html' %}
{% load static %}
{% block main %}
  <link rel="stylesheet" href="{% static 'css/infos.css' %}" />

  <div class="infos-container">
    <div class="infos-titulo">
      <h1>Alterar Informações de Pessoais</h1>
    </div>
    <div class="infos">
      <label for="Alterar">Alterar Nome:</label>
      <input type="text" />
    </div>
    <div class="infos">
      <label for="data_nascimento">Data de Nascimento:</label>
      <input type="date" id="data_nascimento" name="data_nascimento" required />
    </div>
    <div class="infos">
      <label for="genero">Gênero:</label>
      <select id="genero" name="genero">
        <option value="masculino">Masculino</option>
        <option value="feminino">Feminino</option>
        <option value="outro">Outro</option>
      </select>
    </div>
    <a href="#"><button class="botao-salvar">Salvar</button></a>
  </div>
{% endblock %}
