{% extends 'base.html' %}
{% load static %}
{% block main %}
    <link rel="stylesheet" href="{% static 'css/infos-security.css' %}">
    <form action="">
        <div class="infos-container">
            <div class="infos-title">
                <h1>Alterar Informações de Segurança</h1>
            </div>
            <div class="infos">
                <label for="change">Alterar Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="infos">
                <label for="change">Alterar Senha:</label>
                <input type="password" name="password" required>
            </div>
            <div class="infos">
                <label for="change">Confirmar Senha:</label>
                <input type="password" name="password" required>
            </div>
            <a href="#" id="save-button">
                <button class="save-button">Salvar</button>
            </a>
        </form>
{% endblock main %}
    