{% extends 'base.html' %}
{% load static %}
{% block main %}
    <link rel="stylesheet" href="{% static 'css/infos-security.css' %}">
    <form action="">
        <div class="infos-container">
            <div class="infos-titulo">
                <h1>Alterar Informações de Segurança</h1>
            </div>
            <div class="infos">
                <label for="Alterar">Alterar Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="infos">
                <label for="Alterar">Alterar Senha:</label>
                <input type="password" name="senha" required>
            </div>
            <div class="infos">
                <label for="Alterar">Confirmar Senha:</label>
                <input type="password" name="senha" required>
            </div>
            <a href="#" id="button-save">
                <button class="botao-salvar">Salvar</button>
            </a>
        </form>
{% endblock main %}
    