{% extends 'base.html' %}
{% load static %}
{% block main %}
  <link rel="stylesheet" href="{% static 'css/list-teams.css' %}" />

  <div class="change-container">
    <div class="container-players-change">
      <h1>Alterar jogadores</h1>
      <div class="menu-container">

        <!-- Aqui é o menu -->
        <div class="menu">
            <div class="current-team-selection">
                <p>Time atual:</p>
                <select name="" id="change-team">
                    <option value="vasco">Vasco</option>
                    <option value="paysandu">Sóumel</option>
                    <option value="palmeiras">Palmeiras</option>
                </select>
            </div>
          <div class="current-team">
            <img src="{% static 'images/pysandu.png' %}" />
            <p>SóUMel</p>
          </div>
          <div class="change-players">
            <p>Alterar jogadores</p>
          </div>
          <div class="change-informations">
            <p>
              <a href="{% url 'change-informations' %}">Alterar informações</a>
            </p>
          </div>
        </div>

        <!-- Aqui é o conteúdo -->
    
        <form method="post">
            <table class="table">
              <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Campus</th>
                    <th>Jogadores</th>
                    <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% for team in teams.all %}
                  <tr>
                    <td>{{ team.imagem }} </td>
                    <td>{{ team.nome_equipe }}</td>
                    <td>{{ team.campus }}</td>
                    <td>{{ team.jogadores.count }}</td>
                    <td>
                        <div class="buttons-edit">
                            <a href="{% url 'edit-team' id=team.id %}" class="Edit-button">Editar</a>
                            <a href="{% url 'delete-team' id=team.id %}" class="delete-button">Remover</a></td>
                        </div>
                    </tr>
                {% endfor %}
                    
        <!-- Aqui é o filtro -->

        </div>
      </div>
    </div>
  </div>
{% endblock %}
