{% extends 'base.html'%}
{%load static%}
{%block main%}
<link rel="stylesheet" href="{%static 'css/login.css' %}">
<div id="content-box-login">
    <img id="img-basquete" src="{% static 'images/basketball.png'%}" alt="basketball">


<div id="form-button">
<form class="form-login" action="/processa-formulário" method="post">
        <label for="email">E-mail:</label>
        <input id="email_login" type="email" name="email" placeholder="exemplo@gmail.com">

        <label for="password">Senha:</label>
        <input id="password_login" type="password" name="password" placeholder="palmeirasderrotado">
        <p id="login">Fazer login com:</p>
        <div class="img_container">
            <a href="#"><img id='login_com' src="{% static 'images/instagram_1.png'%}" alt="insta"></a>
            <a href="#"><img id='login_com' src="{% static 'images/pesquisa_1.png'%}" alt="google"></a>
            <a href="#"><img id='login_com' src="{% static 'images/twitter.png'%}" alt="twitter"></a>
            <a href="#"><img id='login_com' src="{% static 'images/facebook_1.png'%}" alt="face"></a>
        </div>
    </form>
    <button id="submit">Continuar</button>
</div>



{%endblock main%}
