{% extends 'base.html'%}
{%load static%}
{%block main%}
<link rel="stylesheet" href="{%static 'css/login.css' %}">
<div id="content-box-login">
    <img id="img-basquete" src="{% static 'images/basketball.png'%}" alt="basketball">

<div id="form-button">
    <form class="form-login" action="{% url 'login' %}" method="post">
    {% csrf_token %}
        <label for="matricula">Matricula:</label>
        <input id="email_login" type="matricula" name="matricula" required>

        <label for="password">Senha:</label>
        <input id="password_login" type="password" name="password" required>
        <p><a href="#" id="forgot-password">Esqueceu a senha?</a></p>
        <div id="center-button">
            <button type="submit" id="submit">Continuar</button>
        </div>
        <p id="login">Fazer login com:</p>
        <div class="img_container">
            <a href="{% url 'social:begin' 'suap' %}"><img id='login_com' src="{% static 'images/logo-suap.svg'%}" alt="suap"></a>
        </div>
    </form>
</div>

{%endblock main%}
