{% extends 'base.html'%}
{% load static %}
{%block main%}

<link rel="stylesheet" href="{% static 'css/matches.css'%} ">

<div id="matches">
    <div class="container-matches">
        <div class="header-matches">
            <h1>Partidas</h1>
        </div>
        <div class="matches-container">
            <div class="card-match">
                <p class="date-match">04/12/2023</p>
                <div class="match">
                    <img src="{% static 'images/vasco.png' %}" alt="">
                    <p>Vasco da Gama</p>
                    <p>0 x 0</p>
                    <p>Sóumel</p>
                    <img src="{% static 'images/pysandu.png' %}" alt="">
                </div>
            </div>
            <div class="card-match">
                <p class="date-match">04/12/2023</p>
                <div class="match">
                    <img src="{% static 'images/vasco.png' %}" alt="">
                    <p>Vasco da Gama</p>
                    <p>0 x 0</p>
                    <p>Sóumel</p>
                    <img src="{% static 'images/pysandu.png' %}" alt="">
                </div>
            </div>
            <div class="card-match">
                <p class="date-match">04/12/2023</p>
                <div class="match">
                    <img src="{% static 'images/vasco.png' %}" alt="">
                    <p>Vasco da Gama</p>
                    <p>0 x 0</p>
                    <p>Sóumel</p>
                    <img src="{% static 'images/pysandu.png' %}" alt="">
                </div>
            </div>
            <div class="card-match">
                <p class="date-match">04/12/2023</p>
                <div class="match">
                    <img src="{% static 'images/vasco.png' %}" alt="">
                    <p>Vasco da Gama</p>
                    <p>0 x 0</p>
                    <p>Sóumel</p>
                    <img src="{% static 'images/pysandu.png' %}" alt="">
                </div>
            </div>
            <div class="card-match">
                <p class="date-match">04/12/2023</p>
                <div class="match">
                    <img src="{% static 'images/vasco.png' %}" alt="">
                    <p>Vasco da Gama</p>
                    <p>0 x 0</p>
                    <p>Sóumel</p>
                    <img src="{% static 'images/pysandu.png' %}" alt="">
                </div>
            </div>
            <div class="card-match">
                <p class="date-match">04/12/2023</p>
                <div class="match">
                    <img src="{% static 'images/vasco.png' %}" alt="">
                    <p>Vasco da Gama</p>
                    <p>0 x 0</p>
                    <p>Sóumel</p>
                    <img src="{% static 'images/pysandu.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}