{% extends 'base.html'%}
{% load static %}
{%block main%}

<link rel="stylesheet" href="{% static 'css/matches.css'%} ">

<div id="matches">
    <div class="container-matches">
        <div class="header-matches">
            <h1>Partidas</h1>
        </div>
            {% for partida in partidas %}

        <div class="card-match">
            <p class="date-match">{{ partida.data }}</p>
            <div class="match">
                <img src="{{ partida.imagem_time1.url }}" alt="{{ partida.time1 }}">
                <p>{{ partida.time1 }}</p>
                <p>VS</p>
                <p>{{ partida.time2 }}</p>
                <img src="{{ partida.imagem_time2.url }}" alt="{{ partida.time2 }}">
            </div>
        </div>
    {% endfor %}
        
        
        </div>
    </div>
</div>


{%endblock%}