{% extends 'base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{%static 'css/profile.css' %}">

<div class="box-profile">
    <div class="box-profile-container">
        <div id="profile-photo">
            <img src="{% static 'images/student-icon.png' %}" alt="student">
            <h1>Olá, Aluno!</h1>
        </div>
        <div class="options-container">

            <div class="option-container">
                <a href="{% url 'ask-team-change' %}" class="options">Solicitar troca de time</a>
                <img src="{% static 'images/celebration_.svg' %}" alt="">
            </div>
            <div class="option-container">
                <a href="{% url 'report-bug' %}" class="options">Reportar Bug</a>
                <img src="{% static 'images/Group_3.svg' %}" alt="">
            </div>
            <div class="option-container">
                <a href="{% url 'logout' %}" class="options">Sair da conta</a>
                <img src="{% static 'images/logout_.svg'%}" alt="">
            </div>
        </div>
        
    </div>
</div>
</div>
{% endblock main %}
