{% extends 'base.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'css/rating.css' %}">

<div id="container-points">
    <h1>Scoreboard:</h1>
    <table class="scoreboard">
        <thead>
            <tr>
                <th>Time</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1° - Alcatéia Bikes</td>
                <td class="team-score" id="team-a-score">12</td>
            </tr>
            <tr>
                <td>2° - SóUmel</td>
                <td class="team-score" id="team-b-score">10</td>
            </tr>
            <tr>
                <td>3° - APV</td>
                <td class="team-score" id="team-c-score">6</td>
            </tr>
            <tr>
                <td>4° - TPV</td>
                <td class="team-score" id="team-d-score">2</td>
            </tr>
            <tr>
                <td>5° - Palmeiras</td>
                <td class="team-score" id="team-e-score">0</td>
            </tr>
        </tbody>
    </table>
</div>



{% endblock main %}