{% extends 'base.html' %}
{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'css/register-match.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div id="matches">
  <form class="container-matches" method="post" action="{% url 'register-match' %}">
    {% csrf_token %}
    <div class="header-matches">
      <h1>Cadastrar partida</h1>
    </div>
    <div class="matches-container">
      <div class="card-match">
        <div class="change-sport">
          <label for="select">Esporte da partida:</label>
          <select name="change-sport">
            {% for esporte in esportes %}
              <option name="esporte" value="{{esporte.nome}}">{{esporte.nome}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="card-match">
        <div class="current-team-selection">
          <label for="">Times que irão participar:</label>
          <select name="time1" class="team-selection" id="change-team-1">
            {% for equipe in equipes %}
              <option value="{{equipe.nome_equipe}}">{{equipe.nome_equipe}}</option>
            {% endfor %}
          </select>
          <p>X</p>
          <select name="time2" class="team-selection" id="change-team-2">
            {% for equipe in equipes %}
              <option value="{{equipe.nome_equipe}}">{{equipe.nome_equipe}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="date-match">
        <label for="date">Data da partida:</label>
        <input type="date" name="date" id="date" />
      </div>
      <div class="card-match-container">
        <div class="card-match">
          <div class="team-item">
            <p id="team1-name">Time 1</p>
          </div>
        </div>
        <div class="card-match">
          <div class="team-item">
            <p id="team2-name">Time 2</p>
          </div>
        </div>
      </div>
      
    </div>
    <button class="save-btn" id="save-btn" type="submit">Salvar</button>
  </form>
</div>

<script>
  $(document).ready(function () {
    $(".team-selection").change(function () {
      var team1Name = $("#change-team-1 option:selected").text();
      var team2Name = $("#change-team-2 option:selected").text();
      
      $("#team1-name").text(team1Name);
      $("#team2-name").text(team2Name);
    });

    $("#save-btn").click(function () {
      var esporte = $("select[name='change-sport']").val();
      var data = "";  // Você pode adicionar lógica para obter a data
      var time1 = $("select[name='team1']").val();
      var time2 = $("select[name='team2']").val();

      var formData = {
        'esporte': esporte,
        'data': data,
        'time1': time1,
        'time2': time2
      };
    });
  });

  $(document).ready(function() {
    // Quando o valor do team1 muda
    $('#change-team-1').change(function() {
      // Obtenha o valor selecionado em team1
      var selectedTeam1 = $(this).val();

      // Desbloqueie todas as opções em team2
      $('#change-team-2 option').prop('disabled', false);

      // Se team1 tiver uma seleção, desabilite a mesma opção em team2
      if (selectedTeam1) {
        $('#change-team-2 option[value="' + selectedTeam1 + '"]').prop('disabled', true);
      }
    });
  });
 

</script>

{% endblock %}
