{% extends 'base.html' %}
{% load static %}
{% block main %}
  <link rel="stylesheet" href="{% static 'css/register-match.css' %}" />

  <div class="register-match">
    <div class="register-match-container">
      <div class="container-title">
        <h1>Cadastrar partida</h1>
        <input type="submit" value="Salvar" class="btn-create-match" />
      </div>
      <form action="?">
        <div class="sport-choice">
          <label for="sport">Escolha o Esporte:</label>
          <select name="modalities" id="modalities">
            <option value="basquete">Basquete</option>
            <option value="vole">Vole</option>
            <option value="futebol">Futebol</option>
            <option value="futsal">Futsal</option>
          </select>
        </div>
        <div class="container-teams">
          <div class="select-teams-date-container">
            <div class="select-teams">
              <label for="team">Escolha os times:</label>
              <div class="teams">
                <select name="team-one" id="team1">
                  <option value="vasco">Vasco</option>
                  <option value="paysandu">Sóumel</option>
                </select>
              </div>
              <input type="submt" volue="Enviar" class="btn-create-match" />
            </div>
            <div class="date-match">
              <label for="date-match">Data da partida:</label>
              <input type="date" name="date-match" id="date-match" />
            </div>
          </div>

          <div class="container-grid-team">
            <div class="grid-container">
              <div class="grid-item">1</div>
              <div class="grid-item">2</div>
              <div class="grid-item">3</div>
              <div class="grid-item">4</div>
              <div class="grid-item">5</div>
              <div class="grid-item">6</div>
              <div class="grid-item">7</div>
              <div class="grid-item">8</div>
              <div class="grid-item">9</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
