{% extends 'base.html' %}
{% load static %}
{% block main %}


  <link rel="stylesheet" href="{% static 'css/register-match.css' %}" />

  <div id="matches">
    <div class="container-matches">
        <div class="header-matches">
            <h1>Cadastrar partida</h1>
        </div>
        <div class="matches-container">
            <div class="card-match">
                <div class="change-sport">
                    <label for="select">Esporte da partida:</label>
                    <select name="change-sport">
                      <option value="basquete">Basquete</option>
                      <option value="volei-indoor">Vôlei Indoor</option>
                      <option value="volei-outdoor">Vôlei Outdoor</option>
                      <option value="futsal">Futsal</option>
                      <option value="handebol">Handebol</option>
                    </select>
                  </div>
            </div>
            <div class="card-match">
                <div class="current-team-selection">
                    <label for="">Times que irão participar:</label>
                    <select name="" id="change-team">
                      <option value="vasco">Vasco</option>
                      <option value="paysandu">Sóumel</option>
                      <option value="palmeiras">Palmeiras</option>
                    </select>
                  </div>
            </div>
            <div class="card-match">
                <div class="team-item">
                    <img src="{% static 'images/pysandu.png'%}" alt="">
                    <p>SóUMel</p>
                  </div>
            </div>
            <div class="card-match">
                <div class="team-item">
                    <img src="{% static 'images/vasco.png'%}" alt="">
                    <p>Vasco</p>
                  </div>
            </div>  
        </div>
        <button class="save-btn">Salvar</button>
    </div>
</div>


{%endblock%}
