{% extends 'base.html' %}
{% load static %}
{% block main %}
  <link rel="stylesheet" href="{% static 'css/register-tournament.css' %}" />

  <div class="register-match">
    <div class="register-match-container">
      <div class="container-title">
        <a href=""><h1>Cadastrar torneio</h1></a>
        <a href="#"><h1>Cadastrar Partida</h1></a>
        <input type="submit" value="Salvar" class="btn-create-match" />
      </div>
      <form action="?">
        <div class="sport-choice">
          <div class="input-tournament">
            <label for="name-tournament">Nome do torneio:</label>
            <input type="text" name="name-tournament" id="name-tournament" />
          </div>
          <div class="select-sport">
            <label for="sport">Escolha o Esporte:</label>
            <select name="modalities" id="modalities">
              <option value="basquete">Basquete</option>
              <option value="volei-indoor">Vôlei Indoor</option>
              <option value="volei-outdoor">Vôlei Outdoor</option>
              <option value="futsal">Futsal</option>
              <option value="handebol">Handebol</option>
            </select>
          </div>
        </div>
        <div class="container-teams">
          <div class="select-teams-date-container">
            <div class="select-teams">
              <label for="team">Escolha os times:</label>
              <div class="teams">
                <select name="team-one" id="team1">
                  <option value="vasco">Vasco</option>
                  <option value="paysandu">Sóumel</option>
                </select>
              </div>
              <input type="submit" value="Enviar" class="btn-create-match" />
            </div>
            <div class="date-match">
              <label for="date-match">Data da partida:</label>
              <input type="date" name="date-match" id="date-match" />
            </div>
          </div>

          <div class="container-grid-team">
            <div class="grid-container">
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
              <div class="grid-item">
                <img src="{% static 'images/pysandu.png'%}" alt="">
                <p>SóUMel</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
