#container-team-change {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    padding: 50px;
    border-radius: 20px;
    margin-top: 1rem;
    gap: 1.5rem;
    background-color: white;
    max-width: 1000px;
    max-height: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.612);
}

#container-team-change h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

textarea {

    resize: none;
    margin-top: 1rem;
    width: 100%;
    height: 9rem;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.244);
    
}

label {
	display: grid;
	color: #333;
    font-size: 20px;
}

#submit-team-changes {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;

    padding: 15px 30px;
    border-radius: 8px;
    background-color: #52AC6C;
}

#submit-team-changes:hover {
    background-color: #009a24e2;
    transform: translate(0, -2px);
    transition: 0.6s;
}

#team {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    background-color: #F3F3F3;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.244);

}