#img-basquete,
.form-login {
  display: inline-block;
  vertical-align: middle;
  gap: 20px;
}

#img-basquete {
  width: 350px;
  height: 420px;
  padding-left: 10%;
  padding-right: 14%;
}

.form-login {
  width: 500px;
  background-color: #fff;
  padding: 35px 45px;
  border-radius: 25px;
  display: inline-grid;
  align-content: center;
  margin-top: 10px;
}

#email_login,
#senha_login {
  border-radius: 14px;
  margin-bottom: 20px;
}

p#fazer_login{
  text-align: center;

}

input {
  width: 60%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 10px;
}

input[type="email"],
input[type="senha"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  justify-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.244);
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

#login_com{
  width: 40px;
  height: 40px;
}