#container-matches {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    margin-top: 1rem;
    gap: 1.5rem;
    background-color: white;
    max-width: 50%;
    max-height: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.612);
}

#matches {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-matches {
    background-color: rgb(30, 29, 29);
    padding: 2rem 4rem 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.5rem;
    width: 85%;
}

.header-matches h1{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.matches-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.date-match {
    font-size: 1.2rem;
    color: white;
}

.card-match {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: 1px solid #00000045;   
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff21;
}

.match {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.match p {
    color: white;
}

.match img {
    width: 48px;
    height: 48px;
}