.box-profile {
    margin: 0 auto;
    padding-top: 1.3rem;
    max-width: 70%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-profile-container {
    background-color: white;
    border-radius: 20px;
    padding: 3rem;
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#profile-photo{
    display: flex;
    align-items: center;
    gap: 3rem;
}

#profile-photo img{
    border-radius: 2rem;
    width: 150px;
    height: 150px;
    margin-left: 1rem;
}

#profile-photo h1{
    font-size: 2.5rem;
    font-weight: bold;
}


.box-profile-container a{
    text-decoration: none;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
}

.option-container {
    margin-bottom: 2px;
    padding: 1rem 1rem 1.1rem 4rem;
    position: relative;
    border: 1px solid rgb(40, 40, 40);
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.option-container:nth-child(1) {
    border-bottom: none;
}

.option-container:nth-child(2) {
    border-left: none;
    border-bottom: none;
}


.option-container:nth-child(4) {
    border-left: none;
}

.option-container a{
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    margin-left: 1rem;
}

.option-container img {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 50%;
    transform: translate(-110%, -50%);
}