.register-match {
  width: 100%;
  display: flex;
  justify-content: center;  
}

.register-match-container {
  background-color: #fff;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
  max-width: 60%;
  width: 60%;
  flex-direction: column;
}

.register-match-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select-teams-date-container {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
}

.container-title h1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  float: left;
  border: 1px solid rgba(40, 40, 40, 0.228);
  /* margin-left: 4px; */
  padding-left: 0.5rem;
  border-radius: 6px;
  padding: 6px 6px;
  justify-content: center;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-create-match {
  background-color: #52ac6c;
  text-align: center;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  float: right;
  width: 20%;
  height: 2.8rem;
}


.btn-create-match:hover {
  background-color: #009a24e2;
  transition: 0.6s;
  transform: translate(0px, -2px);
}

.sport-choice {
  border: 1px solid rgba(40, 40, 40, 0.228);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sport-choice select {
  width: 20%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(40, 40, 40, 0.228);
  padding: 0.3rem;
}

.teams select {
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(40, 40, 40, 0.228);
  padding: 0.3rem;
}

.container-teams {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.select-teams {
  display: flex;
  align-items: center;
  border: 1px solid rgba(40, 40, 40, 0.228);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  gap: 1rem;
}
.container-teams {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.date-match {
  display: flex;
  align-items: center;
  border: 1px solid rgba(40, 40, 40, 0.228);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  gap: 1rem;
}

.grid-container {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: auto auto auto;
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(40, 40, 40, 0.228);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  gap: 1rem;
}

.grid-item img {
  width: 30px;
  height: 30px;
}

.grid-item:nth-child(n + 4) {
  border-top: none;
}

.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(4),
.grid-item:nth-child(5),
.grid-item:nth-child(7),
.grid-item:nth-child(8) {
  border-right: none;
}
