#register-image {
	width: 29%;
	height: 29%;
    margin-right: 4rem;
	display: flex;
    align-items: center;
    justify-content: center;
}

#register-content-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	margin-top: 20px;
	margin-right: 0px;
}

/* form register ----------------------------------*/

.container {
	max-width: 400px;
	justify-content: center;
	margin: 0;
	background-color: #fff;
	padding: 30px 85px;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.612);
}

h2 {
	text-align: center;
	color: #333;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #333;
}

input[type="text"],
input[type="date"],
select,
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.244);
}

select {
	height: 45px;
}

#form-button-register {
	font-weight: bold;
	color: #fff;
	padding: 20px 100px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    background-color: #52AC6C;
	margin-top: 2rem;
	align-items: center;
	justify-content: center;
}

#form-button-register:hover {
	background-color: #009a24e2;
	cursor: pointer;
	transition: 0.6s;
	transform: translate(0, -2px);

}

form button {
	justify-content: center;
	align-items: center;
}