* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Istok Web', sans-serif;
	font-family: 'Sofia Sans', sans-serif;
}

body {
    background-color: #181515;	
  }


#content-info h1 {
	color: #1fa43e;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#content-info h2 {
	color: rgb(219, 219, 219);
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}


/* images ----------------------------*/

#logo_site {
	width: 180px;
	height: 100px;
	left: 36px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 1.6rem;
}

#header-content {
	font-weight: bold;
	display: flex;
	gap: 20px;
	align-items: center;

}

#header-content ul {
	color: white;
	font-style: normal;
	list-style: none;
	display: flex;
	gap: 1.5rem;
	margin: 0;
}

#header-content a {
	color: white;
	text-decoration: none;
}

#header-content a:hover {
	color: #2abc4cbb;
	transition: 0.6s;
}

.cadastrar{
	padding: 14px 26px;
	text-align: center;
}

#buttons {
	display: flex;
	gap: 1rem;
}

#buttons button{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	background-color: #52AC6C;
	cursor: pointer;
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
}


#buttons button:hover {
	background-color: #2abc4cbb;
	cursor: pointer;
	transition: 0.6s;
	transform: translate(0px, -2px);
}

#image {
	width: 27%;
	height: 27%;
}

#content-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 9rem;
	margin-top: 65px;
}

#content-info {
	display: flex;
	flex-direction: column;
	gap: 1.2rem	;
	width: 40%;
	margin: 0;
}

#body-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	flex-wrap: wrap;
}

#body-buttons button {

	color: white;
	background-color: #52AC6C;
	border-radius: 5px;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	align-self: center;
}

#body-buttons button:hover {
	background-color: #2abc4cbb;
	cursor: pointer;
	transition: 0.6s;
	transform: translate(0, -2px);
}
