* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Istok Web", sans-serif;
  font-family: "Sofia Sans", sans-serif;
}

body {
  background-color: #181515;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}


@media (min-width: 768px) {
	.sidebar{
		display: none;
	}
  /* .sidebar {
    width: 60px;
  }

  .sidebar button > span {
    width: 50px;
  }

  .sidebar button > span > span {
    opacity: 0;
    visibility: hidden;
  } */
  .logo-img {
	width: 180px;
	min-height: 150px;
  }
}

.logo-img{
	width: 180px;
	min-height: 150px;
}

#content-info h1 {
  color: #1fa43e;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

#content-info h2 {
  color: rgb(219, 219, 219);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* images ----------------------------*/

.img-profile {
  width: 2rem;
}

#logo_site {
  width: 160px;
  height: 80px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
}

#header-content {
  font-weight: bold;
  display: flex;
  gap: 20px;
  align-items: center;
}

#header-content ul {
  color: white;
  font-style: normal;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}

#header-content a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-content a:hover {
  color: #2abc4cbb;
  transition: 0.6s;
}

.cadastrar {
  padding: 14px 26px;
  text-align: center;
}

#buttons {
  display: flex;
  gap: 1rem;
}

#buttons button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #52ac6c;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

#buttons button:hover {
  background-color: #2abc4cbb;
  cursor: pointer;
  transition: 0.6s;
  transform: translate(0px, -2px);
}

#image {
  width: 27%;
  height: 27%;
}

#id_equipe {
  padding: 0.5em;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

#content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 65px;
  margin-left: 85px;
}

#content-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 40%;
  margin: 0;
}

#content-info h3{
  font-size: 1.2rem;
  text-align: center;
  color: rgb(219, 219, 219);
}

#body-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

#body-buttons button {
  color: white;
  background-color: #52ac6c;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
}

#body-buttons button:hover {
  background-color: #2abc4cbb;
  cursor: pointer;
  transition: 0.6s;
  transform: translate(0, -2px);
}
