* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Istok Web, Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 0, 9);	
  }


#content-info h1 {
	color: #1fa43e;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#content-info h2 {
	color: rgb(219, 219, 219);
	font-size: 30px;
	font-weight: bold;
	
  }


/* images ----------------------------*/

img {
	width: 200px;
	height: 100px;
	left: 30px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.7rem 1.6rem;
}

#header-content {
	display: flex;
	gap: 20px;
	align-items: center;

}

#header-content ul {
	color: white;
	font-style: normal;
	list-style: none;
	display: flex;
	gap: 1.5rem;
	margin: 0;
	
}

#header-content a {
	color: white;
	text-decoration: none;
}

#header-content a:hover {
	color: #2abc4cbb;
	transition: 0.6s;
}

#buttons {
	display: flex;
	gap: 1rem;
}

.entrar, .cadastrar {
	color: white;
	background-color: #52AC6C;
	border-radius: 5px;
	padding: 8px;
	font-weight: bold;
	text-align: center;
}

.cadastrar{
	padding: 14px 26px;
	text-align: center;
}


.button:hover {
	background-color: #2abc4cbb;
	cursor: pointer;
	transition: 0.6s;
	transform: translate(0px, -2px);
}

#image {
	width: 300px;
	height: 300px;
}

#content-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10rem;
	margin-top: 65px;
}

#content-info {
	display: flex;
	flex-direction: column;
	gap: 1.2rem	;
	width: 40%;
	margin: 0;
}

#body-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	flex-wrap: wrap;
}

#body-buttons button {

	color: white;
	background-color: #52AC6C;
	border-radius: 5px;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	align-self: center;
}

#body-buttons button:hover {
	background-color: #2abc4cbb;
	cursor: pointer;
	transition: 0.6s;
	transform: translate(0, -2px);
}


/* register page style  ---------------------------*/

#register-content-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12rem;
	margin-top: 20px;
}

/* form register ----------------------------------*/

.container {
	max-width: 400px;
	justify-content: center;
	margin: 0;
	background-color: #fff;
	padding: 30px 85px;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.612);
}

h2 {
	text-align: center;
	color: #333;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #333;
}

input[type="text"],
input[type="date"],
select,
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.244);
}

select {
	height: 45px;
}

#form-button {
	background-color: #52AC6C;
	font-weight: bold;
	color: #fff;
	padding: 15px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#form-button:hover {
	background-color: #2abc4c;
	cursor: pointer;
	transition: 0.6s;
	transform: translate(0, -2px);
}








